.element__like {
    background-image: url(../../../images/like.svg);
    min-width: 22px;
    height: 19px;
    align-self: center;
    margin: 30px 20px;
    padding: 0;
    border: none;
}

.element__like:hover {
    opacity: 50%;
}

.element__like:active {
    background-image: url(../../../images/like_active.svg);
}