.popup-container-image__caption {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    align-self: normal;
    margin: 10px 0 0;
    padding: 0;
}