.elements {
    max-width: 880px;
    margin: 0 auto 70px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
    grid-template-rows: 1fr;
    gap: 20px 17px;
}

@media (max-width: 1023px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto 70px;
        padding: 0 19px;
    }
}

@media (max-width: 767px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 19px 48px;
        padding: 0;
    }
}

@media (max-width: 479px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
    }
}