.popup-container-image__open-image {
    display: block;
    object-fit: contain;
    max-width: 75vw;
    max-height: 75vh;
    height: auto;
}

/* @media (max-width: 767px) {
    .popup__image {
        max-width: __px;
    }
} */