.element__trash {
    position: absolute;
    right: 0;
    background-image: url(../../../images/Trash.svg);
    background-color: initial;
    min-width: 18px;
    height: 19px;
    margin: 20px 20px 0 0;
    padding: 0;
    border: none;
}

.element__trash:hover {
    opacity: 60%;
}